<div class="container">
    <div class="task">
        <h2>Forms</h2>
        <form>

            Nome da Task: <input type="text" name="NomedaTask" id="NomedaTask" placeholder="NomedaTask">
            <br>
            Descrição da Task: <input type="text" name="NomedaTask" id="NomedaTask" placeholder="NomedaTask">
            <br>
            Responsável da Task: <input type="text" name="NomedaTask" id="NomedaTask" placeholder="NomedaTask">
            <br>
            Data de Término: <input type="date" name="NomedaTask" id="NomedaTask" placeholder="NomedaTask">
            <br>
            Data da Criação: <input type="date" name="NomedaTask" id="NomedaTask" placeholder="NomedaTask">
        </form>

        <div class="button">
            <button>Cancelar</button>
            <button>Cadastrar</button>
          </div>
        

    </div>


   